.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* 사이드바의 넓이만큼 왼쪽 여백을 설정 */
  transition: margin-left 0.3s;
}

.sidebar.closed + .page-content {
  margin-left: 80px; /* 사이드바가 닫혔을 때 여백 설정 */
}
